.site-footer {
	position: relative;
	padding: 1em;
	font-family: $font__ruluko;
	color: #fff;
	background-color: $color__skin;
	text-align: center;
	
	@media screen and (min-width: $query__small) {
		padding: 1em 2em;
	}
}

.social-menu {
	font-family: $font__dekko;
	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		a {
			display: block;
			padding: .5em 1em;
			color: white;
			text-decoration: none;
			
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.continue-reading {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: $font__dekko;

	a {
		display: block;
		padding: .5em 1em;
		font-size: 90%;
		text-decoration: none;
		background: hsl(0, 0%, 85%);

		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
		}
	}

}